<!-- Denise Derderian -->
<!-- CIS 1400 - Web Design I   -->
<!-- Project 01 -->

<!DOCTYPE html>
<html lang = "en">


<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Sunrise Solar</title>
	<meta charset= "utf-8">
</head>
<body>
	<header>
		<img src="images/Sunrise Logo.png" alt="Sunrise Solar Logo" width = "15%" >
		<img src = "images/Sunrise_Transparent.gif">
	</header>
	
	<nav>
		<a href = "index.html">Home </a>&nbsp; &nbsp;
		<a href = "products.html">Products </a> &nbsp; &nbsp; &nbsp;
		<a href = "testimonials.html">Testimonials </a> &nbsp; &nbsp; &nbsp;
		<a href = "aboutUs.html">About Us </a> &nbsp; &nbsp; &nbsp;
		<a href = "contact.html">Contact </a>

	</nav>image

	
	<main>
		Place the main webpage content within this area
	</main>
	
	
	
	<footer>
	<a href = "www.bbb.org"> Better Business Bureau </a>
	&copy; 2019 Sunrise Solar LLC.
	<br>
	<a href = "mailto:SunriseSolar@gmail.com"> SunriseSolar@gmail.com </a>SunriseSolar@gmail.com
	</footer>


</body>
</html>